__pycache__/
.pytest_cache/
*.pyc
.vscode/
.vs/
TODO/
.conda/
dist/
src/libICEpost.egg-info
upload.sh
.coverage
/.idea/.gitignore
/.idea/LibICE-post.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
build/
tutorials/**/output/
testing/