__pycache__/
*.pyc
.vscode/
.vs/
TODO/
.conda/
dist/
src/libICEpost.egg-info
upload.sh
/.idea/.gitignore
/.idea/LibICE-post.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
